body {
    margin: 0;
    padding-top: 30px;
}
.wrapper {
    width: 80%;
    min-width: 600px;
    margin: 0 auto;
}
.canvas_field {
    width: 600px;
    height: 600px;
    display: relative;
}
#myCanvas {
    border: 2px solid #ccc;
    display: relative;
}
